.custom-nav {
    top: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
  }
  
  .no-space {
    margin-left: 0 !important;
  }
  
  .nav-items {
    display: flex;
    align-items: center;
  }
  
  .nav-items li {
    margin-left: 20px;
  }
  
  .search-field {
    max-width: 200px;
  }
  
  .gradient-btn {
    background: linear-gradient(90deg, #007bff, #6a00f4);
    border: none;
    color: white;
    /* padding: 8px 16px; */
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .gradient-btn:hover {
    background: linear-gradient(90deg, #0056b3, #5400ba);
  }
  